<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap">
    <div class="w-full xl:w-6 p-3 pr-5">
      <span class="text-indigo-600 font-bold mb-4 block">SUPERCHARGE YOUR PRODUCT</span>
      <div class="font-bold text-900 text-6xl mb-4">Take Control of Your Marketing Strategy</div>
      <p class="mt-0 mb-5 text-700 line-height-3 text-xl">Mauris rhoncus aenean vel elit scelerisque mauris pellentesque
        pulvinar. In ante metus dictum at tempor commodo ullamcorper a lacus.</p>
      <div class="relative w-full xl:w-30rem">
        <input pInputText type="text" placeholder="Enter your email"
               class="p-inputtext p-component p-element py-3 pl-3 w-full"
               style="border-radius: 30px;padding-right: 8rem">
        <button
          class="p-3 absolute appearance-none p-component border-none bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 text-white outline-none h-full cursor-pointer"
          style="border-radius: 30px; top: 0; right: 0">Join Now
        </button>
      </div>
    </div>
    <div class="w-full xl:w-6 p-3 flex align-items-center justify-content-center bg-indigo-50 p-4 lg:p-8 mt-5 xl:mt-0"
         style="border-radius: 30px">
      <div class="relative w-full" style="padding-bottom:56.25%;height:0;">
        <iframe class="absolute top-0 left-0 w-full h-full" width="560" height="315"
                src="https://www.youtube.com/embed/XNRevmRLb70" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
