<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-center text-900 text-5xl font-bold mb-5">Just Released</div>
  <div class="grid grid-nogutter">
    <div class="col-12 lg:col-4 p-3">
      <div class="p-3 shadow-2 border-round surface-card h-full">
        <div class="flex justify-content-between text-500">
          <span>Article</span>
          <span class="inline-flex">
                        <i class="pi pi-clock mr-2"></i>
                        <span>12 min</span>
                    </span>
        </div>
        <p class="line-height-3 mt-3 mb-7 text-900 font-medium text-xl">It is time to step up and protect our world.
          Little actions will lead to huge differences.</p>
        <div>
          <span class="bg-blue-100 text-blue-600 font-medium py-1 px-3 mr-2"
                style="border-radius: 30px">Environment</span>
          <span class="bg-teal-100 text-teal-600 font-medium py-1 px-3" style="border-radius: 30px">Climate</span>
        </div>
        <img src="assets/img/newImg/con-cho-soi.png" alt="Image" class="block w-full mt-5">
      </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
      <div class="p-3 shadow-2 border-round surface-card h-full">
        <div class="flex justify-content-between text-500">
          <span>Article</span>
          <span class="inline-flex">
                        <i class="pi pi-clock mr-2"></i>
                        <span>9 min</span>
                    </span>
        </div>
        <p class="line-height-3 mt-3 mb-7 text-900 font-medium text-xl">New sustainable energy alternatives and how we
          can utilize them efficiently.</p>
        <div>
          <span class="bg-blue-100 text-blue-600 font-medium py-1 px-3 mr-2"
                style="border-radius: 30px">Environment</span>
          <span class="bg-green-100 text-green-600 font-medium py-1 px-3" style="border-radius: 30px">Energy</span>
        </div>
        <img src="assets/img/newImg/con-ga-trong.png" alt="Image" class="block w-full mt-5">
      </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
      <div class="p-3 shadow-2 border-round surface-card h-full">
        <div class="flex justify-content-between text-500">
          <span>Article</span>
          <span class="inline-flex">
                        <i class="pi pi-clock mr-2"></i>
                        <span>5 min</span>
                    </span>
        </div>
        <p class="line-height-3 mt-3 mb-7 text-900 font-medium text-xl">Upcoming technology is what we've been waiting
          for to shape our future.</p>
        <div>
          <span class="bg-purple-100 text-purple-600 font-medium py-1 px-3 mr-2" style="border-radius: 30px">Tech</span>
          <span class="bg-indigo-100 text-indigo-600 font-medium py-1 px-3" style="border-radius: 30px">Opinion</span>
        </div>
        <img src="assets/img/newImg/day-be-nhan-biet-cac-con-vat-con-meo.png" alt="Image" class="block w-full mt-5">
      </div>
    </div>
  </div>
</div>
