<div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static">
  <img src="assets/logo/avatar-seeklogo.com.svg" alt="Image" height="50" class="mr-0 lg:mr-5">
  <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
     leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <div
    class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 px-6 lg:px-0 z-4 shadow-2 lg:shadow-none">
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center text-900 select-none flex-column lg:flex-row cursor-pointer">
      <li class="relative">
        <a pRipple
           class="flex px-0 lg:px-5 py-3 align-items-center hover:text-blue-600 font-medium transition-colors transition-duration-150"
           pStyleClass="@next" enterClass="hidden" enterActiveClass="fadein" leaveToClass="hidden"
           [hideOnOutsideClick]="true">
          <span>Products</span>
          <i class="pi pi-chevron-down ml-auto lg:ml-3"></i>
        </a>
        <div
          class="border-round shadow-0 lg:shadow-2 lg:absolute surface-overlay hidden my-2 lg:my-0 w-full lg:w-30rem">
          <div class="grid">
            <div class="col-12 lg:col-6">
              <a pRipple
                 class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                  <i class="pi pi-list text-2xl"></i>
                </div>
                <div>
                  <span>Features</span>
                  <div class="text-600 text-sm mt-1">Subtext of item</div>
                </div>
              </a>
            </div>
            <div class="col-12 lg:col-6">
              <a pRipple
                 class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                  <i class="pi pi-shield text-2xl"></i>
                </div>
                <div>
                  <span>Solutions</span>
                  <div class="text-600 text-sm mt-1">Subtext of item</div>
                </div>
              </a>
            </div>
            <div class="col-12 lg:col-6">
              <a pRipple
                 class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                  <i class="pi pi-users text-2xl"></i>
                </div>
                <div>
                  <span>Customers</span>
                  <div class="text-600 text-sm mt-1">Subtext of item</div>
                </div>
              </a>
            </div>
            <div class="col-12 lg:col-6">
              <a pRipple
                 class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                  <i class="pi pi-question-circle text-2xl"></i>
                </div>
                <div>

                  <span>Faq</span>
                  <div class="text-600 text-sm mt-1">Subtext of item</div>
                </div>
              </a>
            </div>
            <div class="col-12 lg:col-6">
              <a pRipple
                 class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                  <i class="pi pi-file text-2xl"></i>
                </div>
                <div>
                  <span>Case Studies</span>
                  <div class="text-600 text-sm mt-1">Subtext of item</div>
                </div>
              </a>
            </div>
            <div class="col-12 lg:col-6">
              <a pRipple
                 class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                  <i class="pi pi-search text-2xl"></i>
                </div>
                <div>
                  <span>Library</span>
                  <div class="text-600 text-sm mt-1">Subtext of item</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a pRipple
           class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
          <span>Corporate</span>
        </a>
      </li>
      <li>
        <a pRipple
           class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
          <span>Resources</span>
        </a>
      </li>
      <li>
        <a pRipple
           class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
          <span>Pricing</span>
        </a>
      </li>
    </ul>
    <div
      class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
      <button [routerLink]="['/signin']" pButton pRipple label="Login" class="p-button-text font-bold"></button>
      <button pButton pRipple label="Register" class="ml-3 font-bold"></button>
    </div>
  </div>
</div>
